/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #8a6d6d;
    margin: 0;
    padding: 0;
}
a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #023469;
    padding: 10px;
    width: 200px;
    border-radius: 9px;
    margin-left: 25px;
}

a:hover {
    background-color: #031120;    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.content {
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.pes {
    text-align: center;
    font-size: 35px;
    color: black;
    margin-bottom: 20px;
}

.buscar {
    margin-left: 9px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buscar:hover {
    background-color: #45a049;
}

.imprimir {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    margin-left: 50px;
}

.imprimir:hover {
    background-color: #0074a8;
}
